<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GTLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <GTLite.Properties.Settings>
            <setting name="Home" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.gt-web-software.webs.com/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NewTabPage" serializeAs="String">
                <value>about:blank</value>
            </setting>
            <setting name="SecurityLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UsePlugins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseJavascript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAcceleratingCompositing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockedWebsites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="UseHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteHistoryWhenClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCookies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteCookiesWhenClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PluginsDirectories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;GTLite&gt;\Plugins</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Office2007Silver</value>
            </setting>
            <setting name="UseFavicon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomDownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadsOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockedSites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="UseAero" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGettingStarted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdBlock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupBlocker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupExceptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="PopupExceptionsL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="InformedAboutUpdate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AutoFill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormAutofillExceptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="cssstyle" serializeAs="String">
                <value />
            </setting>
            <setting name="winst" serializeAs="String">
                <value>0</value>
            </setting>
        </GTLite.Properties.Settings>
    </userSettings>
</configuration>
